.card{
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    max-height: fit-content;
    max-width: fit-content;
    filter: blur(3px);
    
    
}