.card{
    position: relative;
    max-width: 500px;
    /* margin: 0 auto; */
}

.card img{
    height:300px;
    width:500px;
}

.content-container {
    position: absolute;
    top: 0;
    background: rgb( 0,0,0);
    background: rgba(0, 0, 0,0.5);
    color:#f1f1f1;
    width: 100%;
    height:300px;
    padding: 20px;
}

.content {
    position: relative;
    top:40%;
}
