.card{
    position: relative;
    max-width: 500px;
    border:solid 1px gray;
    border-radius: 3px;
}

.card img{
    height:300px;
    width:500px;
}

.content-container {
    position: absolute;
    top: 0;
    background: rgb( 0,0,0);
    background: rgba(0, 0, 0,0.7);
    color:#f1f1f1;
    width: 100%;
    height:300px;
    padding: 20px;
}

.content {
    position: relative;
    top:40%;    
}

.name-info-edit-links-container{
    display: flex;
    justify-content: space-between;
 
}

.name{
    color: #508483;
    font-size:larger;
    font-weight:bold;
}

.info-edit-links a{
    padding: 5px;  
    margin-right: 5px;    
}

.social-media-links-container a{
    padding-right: 10px;   
}

.description{
    color:whitesmoke;
    font-size: large;
    margin-top:10px ;
}

