#hero{
    background-image:url('../assets/hero.png');
    /* url("https://creatorverse-production.up.railway.app/static/media/banner.de5659898d3bfc5eb8ea.jpg"); */
    
    height: 70vh;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text{
    text-transform: uppercase;
    line-height: 1em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: bold;
    color:white;
}


