/* .container{
   display:flex;
   justify-content: center;
   margin-top: 50px;
} */

.grid{
    /* width:65vw; */
    /* height:65vw; */
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px 1.8em;   
   
}

.grid-item {
   /* background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) */
  
     
}