/* .container{
   display:flex;
   justify-content: center;
   margin-top: 50px;
} */

.profile-container{
    grid-template-columns: 1fr 1fr;
    
}

.profile-image-container{
    display: block;
    max-width: 100%;
    max-height:100%;
    text-align: right;
    
}

.profile-image-container img{
    max-width: 65%;
    height: 500px;
    border: solid 2px #5185b3;
    border-radius:7px;
} 

.name{
    text-transform: uppercase;
    font-size: 2.5em;
    color: #5185b3;
}

.social-media-links-container{
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: space-between;
}

.social-media-links-container a{   
    color: #FFFF;  
}

.social-media-links-container a span{
    margin-left: 15px;
} 
