.profile-container{
   flex-direction: column;   
}

.profile-container{
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

.profile-image-container{
    display: block;
    max-width: 100%;
    max-height:100%;
    text-align: right;
    
}

.profile-image-container img , .no-image-placeholder{
    max-width: 65%;
    min-height:78%;
    border: solid 2px #5185b3;
    border-radius:7px;
} 

.profile-name{
    text-transform: uppercase;
    font-size: 2.5em;
    color: #5185b3;
}

.social-media-links-container{
    display: flex;
    flex-direction: column;
    max-height:10em;
    justify-content: space-between;
}

.social-media-links-container a{   
    color: #FFFF;  
    padding-bottom: 5px;
}

.social-media-links-container a span{
    margin-left: 15px;
} 

.profile-button-container{
    position: relative;
    right: -25px;    
    text-align: right;
   
}

.edit-button{
    background-color: #017FC0;
    max-width: fit-content;
    max-height: fit-content;
    font-size: 0.75em
}

.edit-button:hover{
    background-color: #036A9E;
}

.delete-button{
    background-color: #FF605C;
}

.delete-button:hover{
    background-color: #EE402E;
}